/* LOGIN */

.banner .container-form .card {
    backdrop-filter: blur(5px);
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 14px;
}

.card {
    display: flex;
    justify-content: space-around;
}

.card h2 {
    font-size: 30px;
}

.card h4 {
    font-size: 16px;
}

.banner #div_erros_login {
    margin-top: 15px;
}

.formulario button {
    cursor: pointer;
}

/* FORMULARIO */
.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

#erro {
    color: red;
    font-size: 17px;
    font-weight: 600;
}

.formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario input {
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: black;
    border: 2px solid white;
    width: 120px;
    align-self: center;
    margin-top: 5px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

/* FOOTER */
.footer {
    background-color: black;
    border-top: 3px solid white;
    height: 150px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
    text-align: center;
}

.footer .container .version {
    font-size: 12px;
}