body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-color: black;
  /* width: 100vw; */
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.container-form {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* HEADER */
.header {
  border-bottom: 3px solid white;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
}

.titulo {
  display: flex;
}

.titulo img {
  padding: 3px;
  width: 80px;
  height: 75px;
}

.titulo1 {
  color: white;
  width: fit-content;
  font-weight: 600;
  text-transform: uppercase;
}

.titulo2 {
  color: black;
  text-shadow:
    -1px -1px 0px #FFF,
    -1px 1px 0px #FFF,
    1px -1px 0px #FFF,
    1px 0px 0px #FFF;
  width: fit-content;
  font-weight: 600;
  text-transform: uppercase;

}

/* BANNER */
.banner {
  height: fit-content;
  padding: 0px 0;
  color: white;
  background-image: url(.././assets/imgs/torcida-corinthians-20130410-24-original.png);
  background-size: cover;
  background-attachment: fixed;
}

.banner .container {
  height: 551px;
  font-size: 36px;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;

}

.banner .container-form {
  height: 600px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  background-size: cover;

}

/* .tamanho-conteudo {
  height: fit-content !important;
} */

.banner p {
  width: 280px;
  margin-left: 10%;
  font-size: 36px;
  color: white;
  font-weight: 600;
}

.banner p span {
  font-weight: bolder;
  text-transform: capitalize;
}

/* social */
.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARROSSEL */
.idolos {
  height: 450px;
  width: 100%;
  display: flex;
}

.idolos .container {
  justify-content: flex-end;

}

.idolos .container>h1 {
  color: white;
}

.container .texto-carrossel {
  width: 40%;
  color: white;
  text-align: justify;
}

.texto-carrossel h1 {
  text-transform: uppercase;
}

.carrossel {
  height: 400px;
  /* WIDTH FACULDADE */
  /* width: 45%;  */
  width: 40%;
  /* WIDTH PC*/
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 200%;
  left: 25%;
  /* TRANSFORM FACULDADE*/
  /* transform: translate(-35%, -54%);  */
  transform: translate(-31%, -233%);
  /* TRANSFORM PC*/
}

.nav-slides {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 19px;
  height: 17px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.bar:hover {
  background-color: white;
  transition: 0.5s;
}

.slides input {
  display: none;
}

.slides {
  display: flex;
  width: 1000%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.75s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked~.s1 {
  margin-left: 0;
}

#slide2:checked~.s1 {
  margin-left: -10%;
}

#slide3:checked~.s1 {
  margin-left: -20%;
}

#slide4:checked~.s1 {
  margin-left: -30%;
}

#slide5:checked~.s1 {
  margin-left: -40%;
}

#slide6:checked~.s1 {
  margin-left: -50%;
}

#slide7:checked~.s1 {
  margin-left: -60%;
}

#slide8:checked~.s1 {
  margin-left: -70%;
}

#slide9:checked~.s1 {
  margin-left: -80%;
}

#slide10:checked~.s1 {
  margin-left: -90%;
}

/* LOCAL DE FUNDACAO */
.fundacao {
  background-color: white;
  height: fit-content;
  padding: 20px 0;
}

.fundacao .container {
  /* border: 3px solid red; */
  justify-content: space-between;
}

.texto-fundacao {
  width: 50%;
  padding: 25px;
}

.texto-fundacao p {
  text-align: justify;
}

.mapa {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
}

/* QUIZ */
.quiz {
  border: 3px solid red;
  height: fit-content;
  background-image: url('https://veja.abril.com.br/wp-content/uploads/2016/06/torcida-corinthians-20130410-24-original.jpeg?quality=70&strip=info&w=928');
  background-size: cover;
  background-attachment: fixed;
}

.quiz .container {
  border: 3px solid yellow;
  background-color: black;
  display: block;
}

.quiz-perguntas {
  display: flex;
  color: white;
  margin-top: 5%;
}

.perguntas {
  border: 7px solid white;
  border-radius: 7px;
  padding: 2%;
}

.perguntas .alternativa {
  background-color: rgb(19, 19, 19);
  box-shadow: 1px 2px 5px white;
  border-radius: 5px;
  margin: 15px 0 15px 0 ;
  width: 300px;
}

.perguntas h1 {
  border-bottom: 3px solid white;
}