body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-color: black;
  /* width: 100vw; */
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.container-form {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* HEADER */
.header {
  border-bottom: 3px solid white;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
}

.titulo {
  display: flex;
}

.titulo img {
  padding: 3px;
  width: 80px;
  height: 75px;
}

.titulo1 {
  color: white;
  width: fit-content;
  font-weight: 600;
  text-transform: uppercase;
}

.titulo2 {
  color: black;
  text-shadow:
    -1px -1px 0px #FFF,
    -1px 1px 0px #FFF,
    1px -1px 0px #FFF,
    1px 0px 0px #FFF;
  width: fit-content;
  font-weight: 600;
  text-transform: uppercase;

}

/* BANNER */
.banner {
  height: fit-content;
  padding: 0px 0;
  color: white;
  background-image: url(.././assets/imgs/torcida-corinthians-20130410-24-original.png);
  background-size: cover;
  background-attachment: fixed;
}

.banner .container {
  height: 551px;
  font-size: 36px;
  justify-content: flex-start; 
  align-items: center;
  background-size: cover;

}

.banner .container-form {
  height: 528px;
  font-size: 36px;
  justify-content: center; 
  align-items: center;
  background-size: cover;

}

/* .tamanho-conteudo {
  height: fit-content !important;
} */

.banner p {
  width: 280px;
  margin-left: 10%;
  font-size: 36px;
  color: white;
  font-weight: bolder;
}

/* social */
.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARROSSEL */
.idolos {
  height: 450px;
  width: 100%;
  display: flex;
}

.idolos .container {
  justify-content: flex-end;

}

.container .texto-carrossel {
  width: 40%;
  color: white;
  text-align: justify;
}

.carrossel {
  height: 400px;
  width: 45%;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 200%;
  left: 25%;
  transform: translate(-35%, -54%);
}

.nav-slides {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 19px;
  height: 17px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.bar:hover {
  background-color: white;
  transition: 0.5s;
}

.slides input {
  display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.75s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked~.s1 {
  margin-left: 0;
}

#slide2:checked~.s1 {
  margin-left: -20%;
}

#slide3:checked~.s1 {
  margin-left: -40%;
}

#slide4:checked~.s1 {
  margin-left: -60%;
}

#slide5:checked~.s1 {
  margin-left: -80%;
}

/* LOGIN */

.banner .container-form .card {
  backdrop-filter: blur(5px);
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 14px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

.formulario  button {
  cursor: pointer;
}

/* FORMULARIO */
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario input {
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: black;
  border: 2px solid white;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* FOOTER */
.footer {
  background-color: black;
  border-top: 3px solid white;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}